{% extends 'base.html' %}

{% block content %} 
<h1>{% block title %} Identifiez vous : {% endblock %}</h1> 
    <main id="pageContent" >

        <form action="{{ url_for('connecter') }}" method="post">
            <label for="idnom">Nom</label>
            <input type="text" name="nom" id="idnom"><br>
            <label for="idprenom">Prénnom</label>
            <input type="text" name="prenom" id="idprenom"><br>
            <button type="submit">Me connecter</button>
    
        </form>
    </main>
{% endblock %} 



